<!DOCTYPE html>
<html>
  <head>
    <title>Freelance Dashboard</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="modal">
      <div id="modal-holder"></div>
    </div>
    <% unless current_page?(root_path) %>
      <div id="top-bar">
        <h1 class="logo"><%= link_to "FreeDash", root_path %></h1>
        <ul id="nav">
          <%- if user_signed_in? %>
             <!-- <li><%#link_to "Dashboard", user_path(current_user) %></li> -->
             <!-- <li><%# link_to current_user.email, user_path(current_user) %>   |</li> -->
             <li><%= link_to "Logout", destroy_user_session_path, :controller => "users", method: :delete %></li>
          <%- else %>
             <li><%= link_to "Login", new_user_session_path %></li>
             <li><%= link_to "Sign up", new_user_registration_path %></li>
          <%- end %>
        </ul>
      </div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <div class="love-vermont">
        <p>Created with
          <span class="heart"><%= image_tag('heart.svg') %></span>
        from Vermont</p>
        <%# image_tag('vermont-blue.png') %>
      </div>
    </div>
  </body>

</html>
