<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer Dashboard</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="modal" data-turbolinks="false">
      <div id="modal-holder"></div>
    </div>
    <%# unless current_page?(root_path) %>
    <div class="top-bar">
      <h1 class="logo" data-turbolinks="false"><a href="/">Free<span>Dash</span></a></h1>
      <ul class="nav">
        <%- if user_signed_in? %>
           <li><%= link_to "Logout", destroy_user_session_path, :controller => "users", method: :delete %></li>
        <%- else %>
           <li><%= link_to "Login", new_user_session_path %></li>
           <li><%= link_to "Sign up", new_user_registration_path %></li>
        <%- end %>
      </ul>
    </div>
    <%# end %>
    <div class="notifications"></div>

    <div class="content" data-turbolinks="false">
      <%= yield %>
    </div>

    <%= render "layouts/footer"  unless @skip_footer %>
  </body>

</html>
